<div>
    <header class="bar-title">
        <h1 class="title">
            {{data.name}}
        </h1>
    </header>
    <div class="content">
        <ul class="list">
            <li class="list-divider">Upcoming Issues</li>
            <li ng-repeat="issue in data.issues | filter: {is_upcoming: true}">
                <a href="#/issue/{{issue.id}}">
                    {{issue.title}}
                </a>
                <a class="button-main" ng-click="moveImp(issue.id)">Not Important</a>
            </li>
            <li class="list-divider">Less Important</li>
            <li ng-repeat="issue in data.issues | filter: {is_upcoming: false}">
                <a href="#/issue/{{issue.id}}">
                    {{issue.title}}
                </a>
                <a class="button-main" ng-click="moveImp(issue.id)">Important</a>
            </li>
        </ul>
    </div>
</div>