<div>
    <header class="bar-title">
        <a class="button-prev" href="#/">
            Community
        </a>
        <h1 class="title">
            {{issue.title}}
        </h1>
    </header>
    <div class="content">
        <ul class="list">
            <li class="list-divider">Background</li>
            <li>{{issue.background}}</li>
            <li class="list-divider">Proposals</li>
            <li ng-repeat="prop in issue.proposals">{{prop.title}}</li>
        </ul>
        <form>
            <input type="text" ng-model="newIssue">
            <a class="button-main button-block" ng-click="addIssue()">Add issue</a>
        </form>
    </div>
</div>